:root {
    --color-brand-primary: 0, 0, 0;
    --color-brand-secondary: 0, 0, 0;
    --color-text-base: 0, 0, 0;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 79, 70, 229;
    --color-text-accent: 199, 210, 254;
    --color-text-heading: 248, 250, 252;
    --color-text-link: 248, 250, 252;
    --color-text-link-hover: 248, 250, 252;
    --color-text-header: 226, 232, 240;
    --color-text-header-muted: 226, 232, 240;
    --color-text-footer: 226, 232, 240;
    --color-text-footer-muted: 226, 232, 240;
    --color-fill: 248, 250, 252;
    --color-fill-accent: 226, 232, 240;
    --color-fill-info: 255, 255, 255;
    --color-fill-info-hover: 255, 255, 255;
    --color-fill-success: 255, 255, 255;
    --color-fill-success-hover: 255, 255, 255;
    --color-fill-warning: 255, 255, 255;
    --color-fill-warning-hover: 255, 255, 255;
    --color-fill-danger: 255, 255, 255;
    --color-fill-danger-hover: 255, 255, 255;
    --color-fill-header-: 226, 232, 240;
    --color-fill-footer: 226, 232, 240;
    --color-fill-icon: 255, 255, 255;
    --color-border: 248, 250, 252;
    --color-border-footer: 226, 232, 240;
  }
  .dark {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 254, 202, 202;
    --color-text-inverted: 220, 38, 38;
    --color-fill: 0, 0, 0;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 254, 242, 242;
    --color-button-muted: 239, 68, 68;
  }