:root {
    --color-brand-primary: 8, 191, 208;
    --color-brand-secondary: 0, 0, 0;
    --color-text-base: 0, 0, 0;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 79, 70, 229;
    --color-text-accent: 199, 210, 254;
    --color-text-heading: 38, 38, 38;
    --color-text-link: 21, 57, 157;
    --color-text-link-hover: 53, 99, 228;
    --color-text-header: 233, 238, 252;
    --color-text-header-muted: 143, 168, 240;
    --color-text-footer: 9, 24, 67;
    --color-text-footer-muted: 15, 41, 112;
    --color-fill-base: 248, 250, 252;
    --color-fill-accent: 233, 238, 252;
    --color-fill-header:  29, 78, 216;
    --color-fill-footer: 233, 238, 252;
    --color-fill-info: 255, 255, 255;
    --color-fill-info-hover: 255, 255, 255;
    --color-fill-success: 255, 255, 255;
    --color-fill-success-hover: 255, 255, 255;
    --color-fill-warning: 255, 255, 255;
    --color-fill-warning-hover: 255, 255, 255;
    --color-fill-danger: 255, 255, 255;
    --color-fill-danger-hover: 255, 255, 255;
    --color-fill-icon: 255, 255, 255;
    --color-border-base: 188, 203, 246;
    --color-border-muted: 244, 246, 253;
    --color-border-footer: 188, 203, 246;
  }
  .dark {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 254, 202, 202;
    --color-text-inverted: 220, 38, 38;
    --color-fill: 0, 0, 0;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 254, 242, 242;
    --color-button-muted: 239, 68, 68;
  }