:root {
    --color-brand-primary: 8, 191, 208;
    --color-brand-secondary: 0, 0, 0;
    --color-text-base: 10,10,10;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 233, 235, 252;
    --color-text-accent: 0, 0, 0;
    --color-text-heading: 38, 38, 38;
    --color-text-link: 21, 57, 157;
    --color-text-link-hover: 53, 99, 228;
    --color-text-header: 233, 238, 252;
    --color-text-header-muted: 143, 168, 240;
    --color-text-footer: 9, 24, 67;
    --color-text-footer-muted: 15, 41, 112;
    --color-fill-base: 248, 250, 252;
    --color-fill-accent: 233, 238, 252;
    --color-fill-header:  29, 78, 216;
    --color-fill-footer: 233, 238, 252;
    --color-fill-info: 83, 241, 241;
    --color-fill-info-accent: 23, 240, 240;
    --color-fill-success: 85, 248, 85;
    --color-fill-success-accent: 0, 246, 0;
    --color-fill-warning: 255, 163, 87;
    --color-fill-warning-accent: 255, 116, 0;
    --color-fill-danger: 255, 88, 88;
    --color-fill-danger-accent: 255, 25, 25;
    --color-fill-icon: 255, 255, 255;
    --color-border-base: 188, 203, 246;
    --color-border-muted: 244, 246, 253;
    --color-border-footer: 188, 203, 246;
  }
  .dark {
    --color-brand-primary: 8, 191, 208;
    --color-brand-secondary: 0, 0, 0;
    --color-text-base: 233, 235, 252;
    --color-text-muted: 126, 130, 154;
    --color-text-inverted:10, 10, 10;
    --color-text-accent: 253, 253, 253;
    --color-text-heading: 126, 130, 154;
    --color-text-link: 114, 146, 236;
    --color-text-link-hover: 153, 177, 241;
    --color-text-header: 182, 184, 201gghg;
    --color-text-header-muted: 126, 130, 154;
    --color-text-footer: 126, 130, 154;
    --color-text-footer-muted: 126, 130, 154;
    --color-fill-base: 46, 48, 62;
    --color-fill-accent:  29, 30, 39;
    --color-fill-header:  29, 30, 39;
    --color-fill-footer: 29, 30, 39;
    --color-fill-success: 85, 248, 85;
    --color-fill-success-accent: 0, 246, 0;
    --color-fill-warning: 255, 163, 87;
    --color-fill-warning-accent: 255, 116, 0;
    --color-fill-danger: 255, 88, 88;
    --color-fill-danger-accent: 255, 25, 25;
    --color-fill-icon: 255, 255, 255;
    --color-border-base: 98, 102, 132;
    --color-border-muted: 76, 79, 102;
    --color-border-footer: 98, 102, 132;
  }